body{
    background :#f4f4f5;
    color:#444;
    width:100%;
    font-family:uncial;
    margin:0 auto;
}
 .header{
     width:89%;
     margin:auto;
     height:120px;
     line-height:120px;
     background:#417aa8;
     color:#fff;
}
