body{
    background :#f4f4f4;
    color:#333;
    width:100%;
    font-family:uncial;
    margin:0 auto;
}
 .header{
     width:90%;
     margin:auto;
     height:120px;
     line-height:120px;
     background:#417aa8;
     color:#fff;
}


